.all-body input {
  text-align: center;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid white 0.8;
  background: transparent;
  color: white;
  padding: 5px;
}

input::placeholder {
  color: white;
  font-size: 20px;
}

.text-body {
  position: relative;
  top: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-body {
  position: relative;
  top: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greegings {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.js-toDo {
  list-style: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.js-toDo button {
  background: transparent;
  border: 1px solid transparent;
}
